<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<display-name>Archetype Created Web Application</display-name>
<!-->add_test</!-->
  <servlet>
    <servlet-name>UserRestControllerV1</servlet-name>
    <servlet-class>servlet1.UserRestControllerV1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserRestControllerV1</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EventRestControllerV1</servlet-name>
    <servlet-class>servlet1.EventRestControllerV1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EventRestControllerV1</servlet-name>
    <url-pattern>/Event</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FileRestControllerV1</servlet-name>
    <servlet-class>servlet1.FileRestControllerV1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FileRestControllerV1</servlet-name>
    <url-pattern>/File</url-pattern>
  </servlet-mapping>

</web-app>
